@model IEnumerable<Actor>

@{
    ViewData["Title"] = "List Of Actors";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">Profile Picture</th>
                    <th scope="col">Actor Name</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.ActorName" style="height: 120px; width: 150px;">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ItemModel => item.ActorName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(ItemModel => item.bio)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary btn-sm mx-1" asp-controller="Actor" asp-action="Edit" asp-route-id="@item.ActorId"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-outline-info btn-sm mx-1" asp-controller="Actor" asp-action="Details" asp-route-id="@item.ActorId"><i class="bi bi-eye"></i> Details</a>
                            <a class="btn btn-outline-danger btn-sm mx-1" asp-controller="Actor" asp-action="Delete" asp-route-id="@item.ActorId"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 5px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

<div class="text-white" style="position:fixed; right: 25px; bottom: 25px;">
    <a asp-controller="Actor" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add New</a>
</div>